body{
	background: #222;
	color: #ddd;
}

/* navbar */
.navbar-default{
	background-color: inherit;
	border: 0;
}
.navbar-default .navbar-brand{
	color: #fff;
}
.navbar-form .form-control{
	background: inherit;
	border: 0;
	border-radius: 0;
	color: #fff;
}
.navbar-form .form-control:focus{
	background: #333;
	border-color: ccc;
	outline: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}

/* popover */
.popover{
	background: #333;
	color: #fff;
}
.popover.right > .arrow:after{
	border-right-color: #333;
}


/* forms */
.form-control, .btn{
	border-radius: 0;
}
/* buttons */


/* main app page */
.content{
	margin-top: 10px;
}
.right-pane{
	border-right: 1px solid #333;
	background: #191919;
	padding-top: 1%;
	padding-bottom: 1%;
}
.right-pane ul{
	margin-bottom: 0;
}
.right-pane .btn{
	color: #fff;
	padding-left: 0;
	font-size: 14px;
}
.right-pane .btn:focus{
	outline: none;
}
.right-pane .label{
	margin-top: 4px;
}

/* login page */
.login-form{
	margin-top: 40%;
}
.forgot{
	margin-top: 15px;
}
