.container {
	 display: flex;
	 flex-direction: row;
	 flex-wrap: wrap;
}
.item{
	 display: flex;
	background: #aaa;
	flex-grow: 1;
	  width: 100px;  /* Or whatever */
		  height: 100px; /* Or whatever */
			  margin: auto;  /* Magic! */
}
header, footer, h2{
	display: none;
}
