{% extends "../layout.html" %}

{% block content %}
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-2 col-md-2 right-pane">
				<ul class="list-unstyled">
					<li><button type="button" class="btn btn-xs btn-link">logie</button><span class="label label-warning pull-right">3</span></li>
					<li><button type="button" class="btn btn-xs btn-link">logie</button><span class="label label-warning pull-right">3</span></li>
					<li><button type="button" class="btn btn-xs btn-link">logie</button><span class="label label-warning pull-right">3</span></li>
				</ul>
			</div>
			<div class="col-sm-10 col-md-10">
				&lt;video&gt; goes here
			</div>
		</div>
	</div>
	
{% comment	%}
	{% include "../partials/index.html" %}
{% endcomment %}
{% endblock %}
