{% extends "../layout.html" %}

{% block content %}
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-offset-4 col-md-4">
				<form method="POST" class="login-form">
				  <div class="form-group {% if f_name %}has-error{% endif %}">
				    <input type="text" name="f_name" class="form-control" placeholder="First name" value="{{ f_name_val }}" autofocus>
				  	<small class="text-danger {% if !f_name %}hidden{% endif %}">{{ f_name }}</small>
					</div>
				  <div class="form-group {% if l_name %}has-error{% endif %}">
				    <input type="text" name="l_name" class="form-control" placeholder="Last name" value="{{ l_name_val }}">
				  	<small class="text-danger {% if !l_name %}hidden{% endif %}">{{ l_name }}</small>
				  </div>
				  <div class="form-group {% if organization %}has-error{% endif %}">
				    <input type="text" name="organization" class="form-control" placeholder="Organization" value="{{ organization_val }}">
				  	<small class="text-danger {% if !organization %}hidden{% endif %}">{{ organization }}</small>
				  </div>
				  <div class="form-group {% if email %}has-error{% endif %}">
				    <input type="email" name="email" class="form-control" placeholder="Email" value="{{ email_val }}">
				  	<small class="text-danger {% if !email %}hidden{% endif %}">{{ email }}</small>
				  </div>
				  <div class="form-group {% if password %}has-error{% endif %}">
				    <input type="password" name="password" class="form-control" placeholder="Password">
				  	<small class="text-danger {% if !password %}hidden{% endif %}">{{ password }}</small>
				  </div>
				  <div class="form-group {% if password_confirm %}has-error{% endif %}">
				    <input type="password" name="password_confirm" class="form-control" placeholder="Confirm Password">
				  	<small class="text-danger {% if !password_confirm %}hidden{% endif %}">{{ password_confirm }}</small>
				  </div>
				  <button type="submit" class="btn btn-block btn-primary">Submit</button>
				  <div class="form-group text-center forgot">
				  	<a href="/login">Already have an account?</a>
				  </div>
				</form>
			</div>
		</div>
	</div>
{% endblock %}
